{{#> master}}

<p>Hi {{firstName}},</p>

<p>Welcome to {{appName}} - we're glad you're here. Whether you're an interviewer or an interviewee, we're here to help make scheduling simple.</p>

<p>To get started, login to your account and set your availability.</p>

{{/master}}