<table width="100%" cellpadding="0" cellspacing="0" style="padding: 20px 0; font-size: 12px; color: #888888;">
    <tr>
        <td align="center">
            <p><small>This is an automated message, please do not reply to this email.</small></p>
        </td>
    </tr>
  <tr>
    <td align="center">
      <p>ScheduleApp &copy; 2026. All rights reserved.</p>
      <p>
        <a href="{{unsubscribeUrl}}" style="color:#888888;">Unsubscribe</a>
      </p>
    </td>
  </tr>
</table>